mat-toolbar{
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}
.mat-stroked-button {
  text-transform: uppercase;
  font-size: medium;
  border-color: #ffffff;
}
.logo{
  text-decoration: none;
  color: #ffffff;
  :hover{
    color: #e0e0e0;
  }
}
