<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="inputsContainer" appearance="standard">
    <mat-label >Email</mat-label>
    <input type="email" matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
  </mat-form-field>

  <mat-form-field class="inputsContainer" appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="changePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
  </mat-form-field>
  <mat-checkbox color="primary" formControlName="toRemember">Remember me!</mat-checkbox>
  <button mat-flat-button type="submit" class="signInButton" color="primary" [disabled]="!form.valid">SIGN IN</button>
</form>
