form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsContainer {
  width: 90%;
}

.signUpButton {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.notMatchingError {
  align-self: start;
  margin-left: 1.8rem;
  margin-top: 0;
}
