.modalContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 2rem auto;
  background-color: white;
}

.closeButton {
  align-self: end;
}

mat-tab {
  height: 100%;
}

mat-slide-toggle {
  margin: 1rem 0 0.5rem 1.5rem;
}
