.authContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 2rem auto;
  background-color: white;
}

mat-tab {
  height: 100%;
}

.homepage-btn{
  width: 600px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
